@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .theme-orzhov {
    --theme-text: #fbfae9;
    --theme-text-alt: #f8f3c9;
    --theme-bg: #150f10;
    --theme-bg-alt: #433641;
    --theme-error: #d386af;
    --theme-success: #9dd975;
    --theme-warning: #dcbd67;
    --theme-interact: #dcbd67;
    --theme-interact-hover: #e9d49b;
  }

  .theme-sage {
    --theme-text: #2e3d2d;
    --theme-text-alt: #465c44;
    --theme-bg: #fafff4;
    --theme-bg-alt: #cbdfb3;
    --theme-error: #a92d67;
    --theme-success: ##3e7718;
    --theme-warning: ##996b17;
    --theme-interact: #176c44;
    --theme-interact-hover: #103f32;
  }

  .animate-drop {
    @apply transform transition-all -translate-y-8 opacity-0;
  }

  .animate-drop.enter-active,
  .animate-drop.enter-done {
    @apply translate-y-0 opacity-100;
  }
}
