@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Items placed here will NOT be copied to the output TW file
 *
 * To include custom utils add them to the plugin
 * located in `src/styles/tailwind.config.js`
 **/
@layer utilities {
  .theme-sage {
    --theme-text: #2e3d2d;
    --theme-text-alt: #465c44;
    --theme-bg: #fafff4;
    --theme-bg-alt: #cbdfb3;
    --theme-error: #a92d67;
    --theme-success: ##3e7718;
    --theme-warning: ##996b17;
    --theme-interact: #176c44;
    --theme-interact-hover: #103f32;
  }
}
